$first-color: rgb(223, 223, 223);
$second-color: rgb(190, 190, 190);
$third-color: rgb(151, 151, 151);
$fourth-color: rgb(87, 87, 87);
$fifth-color: rgb(70, 70, 70);

@import 'reset';

header {
    .container {
        .row {
            .logo {
                background: $first-color;
            }
            .menu {
                background: $second-color;
            }
            .info {
                background: $third-color;
            }
    
        }
    }
}
